<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/style.css">
    <link rel="icon" href="static/src/icons8-table-32.png">
    <title>Таблица аморфных материалов</title>
</head>

<body>

    <header>
        <!--switcher-->
        <div class="toggle-button-cover">
            <div class="button-cover">
                <div class="button b2" id="button-10">
                    <input type="checkbox" class="checkbox" id="button" onclick="save()" />
                    <div class="knobs">
                        <span>Наследники</span>
                    </div>
                    <div class="layer"></div>
                </div>
            </div>
        </div>
    </header>

    <table style="background-color: white;">
        <thead>
            <tr>
                <th rowspan="2">{{.Title}}</th>
                <th rowspan="2">{{.PartTitle}}</th>
                <th colspan="7">Аморфы при шансе дропа</th>
            </tr>
            <tr>
                <td>3%</td>
                <td>6%</td>
                <td>10%</td>
                <td>15%</td>
                <td>20%</td>
                <td>32%</td>
                <td>38%</td>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $item := .Data }}
            <tr>
                {{ range $rowIndex, $row := $item }}
                {{ if eq $rowIndex 0 }}
                {{ if ne $row ""}}
                <th rowspan="4">{{$row}}</th>
                {{end}}
                {{else}}
                <td> {{$row}}</td>
                {{end}}
                {{ end }}
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>

<script src="static/script/switcher.js"></script>

</html>